@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $very-dark-blue;
  color: #ffffff;
}

.main {
  width: 80%;
  margin: 50px auto;
}

.profile {
  background-color: $dark-blue;
  border-radius: 15px;
  margin-bottom: 20px;
}

.profile-details {
  background-color: $blue;
  border-radius: 15px;
  display: flex;
  place-content: center center;
  padding: 20px 0;

  .avatar {
    display: flex;
    place-content: center center;
    width: 60px;
    margin-right: 25px;
    img {
      max-width: 100%;
      height: auto;
      border: 2px solid #ffffff;
      border-radius: 50%;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $dale-blue;
    font-size: 18px;
    font-weight: 400;
    span {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.profile-time {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  [type='radio'] {
    display: none;
  }

  [type='radio'] ~ span {
    color: $desaturated-blue;
    font-weight: 300;
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }

  [type='radio']:checked ~ span {
    color: #ffffff;
  }
}

.card {
  border-radius: 15px;
  margin-bottom: 20px;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-content {
  height: 75%;
  background-color: $dark-blue;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.content-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5px;

  h2 {
    font-size: 16px;
    font-weight: 500;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      svg path {
        fill: #fff; //check this later
      }
    }
  }
}

.content-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .current {
    font-size: 25px;
    font-weight: 300;
  }
  .previous {
    color: $dale-blue;
    font-size: 14px;
    font-weight: 300;
  }
}

.work {
  background: {
    color: $work;
    image: url(../images/icon-work.svg);
    repeat: no-repeat;
    position: 90% -5%;
    size: 20%;
  }
}

.play {
  background: {
    color: $play;
    image: url(../images/icon-play.svg);
    repeat: no-repeat;
    position: 90% -5%;
    size: 20%;
  }
}

.study {
  background: {
    color: $study;
    image: url(../images/icon-study.svg);
    repeat: no-repeat;
    position: 90% -10%;
    size: 20%;
  }
}

.exercise {
  background: {
    color: $exercise;
    image: url(../images/icon-exercise.svg);
    repeat: no-repeat;
    position: 90% 0%;
    size: 20%;
  }
}

.social {
  background: {
    color: $social;
    image: url(../images/icon-social.svg);
    repeat: no-repeat;
    position: 90% -20%;
    size: 20%;
  }
}

.selfcare {
  background: {
    color: $self-care;
    image: url(../images/icon-self-care.svg);
    repeat: no-repeat;
    position: 90% -20%;
    size: 20%;
  }
}

@media screen and (min-width: 1280px) {
  @import "desktop";
}